# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build / Pack
*.zip
*.crx
*.pem
dist/
build/

# Env
.env
.env.local
